/* Reset tags */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,pre, a, abbr, acronym, 
address, code, del, dfn, em, strong, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:normal;font-style:inherit;font-size:inherit;font-family:inherit;text-align: left; vertical-align:baseline;}
body {line-height:1.4;font-size:100%;}
table{border-collapse:collapse; border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:top;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
input:focus, textarea:focus, select:focus{ background-color:#f7f7f7;}
ol, ul{list-style:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline: 0;}
/* End Reset tags */

/* Typography */
body { width:100%; height:auto; font-size:13px; font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif; color:#605f5f; background:#ffffff; border-top:6px solid #94c7b6;}
h1, h2, h3, h4, h5, h6{color:#d3643b;}
h1, .h1{font-size:20px; line-height:1.3; margin-bottom:0.5em;}
h2, .h2{font-size:18px; line-height:1.3; margin-bottom:0.75em; letter-spacing: -1px;}
h3, .h3{font-size:15px; line-height:1; font-weight:bold; margin-bottom:1em;}
h4, .h4{font-size:14px; line-height:1; margin-bottom:1em; font-weight:bold;}
h5, .h5{font-size:12px; font-weight:bold; margin-bottom:1.5em;}
h6, .h6{font-size:12px; font-weight:bold;}
p {margin:0 0 1em;}
p img{float:left;margin:1.2em 1.2em 1.2em 0; padding:0;}
p img.right {float:right; margin:1.2em 0 1.2em 1.2em;}
a {color:#79ac9b; text-decoration:none; -moz-outline-style:none; outline:none;}
a:focus, a:hover {color:#96c8b7; text-decoration:underline;}
blockquote{margin:1.3em 1em;color:#605f5f;font-style:italic; padding-left:15px;}
strong{font-weight:bold;}
em, dfn{font-style:italic;}
dfn{font-weight:bold;}
sup, sub{line-height:0;}
abbr, acronym {border-bottom:1px dotted #cccccc;}
address {margin:0 0 1.3em;font-style:italic;}
del {color:#605f5f;}
pre, code {margin:1.3em 0;white-space:pre; background:#EBF5FF; overflow:auto;}	
pre, code, tt {font:1em/1.3 'andale mono', 'lucida console', monospace;}
ul, ol {margin:0 1.3em 1.3em 0;}
ul { list-style:none;}
ol {list-style-type:decimal;}
ul li{ line-height:1.5; margin: 0px; background:url(../images/bullet_orange.png) no-repeat 0px 2px; padding-left:1.7em;}
li ul, li ol {margin:0 1.3em;}
dl {margin:0 0 1.3em 0;}
dt {margin: 0; padding: 0; font-weight: bold;}
dd {margin: 0 0 1em 1em; padding: 0;}
table {margin-bottom:1.3em; width:100%;}
th {font-weight:bold; background:#b7ddb3;}
th, td {padding:4px 10px 4px 5px;}
tr.even td {background:#f3f3f3;}
tfoot {font-style:italic;}
caption {background:#8faea8;}

/* End Typography */

/*General styles*/
.small {font-size:.74em;margin-bottom:1.73em;line-height:1.38em;}
.large {font-size:1.38em;line-height:1.3em;}
.hidden {display:none;}
.clear{clear:both;}
.float-L{float:left;}
.float-R{float:right;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.clearfloat {clear:both; height:0; font-size:1px; line-height:0px;}
.division{ border-bottom:1px solid #d4d4d4; margin-bottom:10px; padding-bottom:5px;}
.last{ margin-right:0;}
.no-border{ border:none !important;}

/*Clearfix tecnique used to clear the float of an element which contains float elements*/
.clearfix {display: inline-block;}/* This needs to be first because FF3 is now supporting this */
.clearfix:after {content: " ";display: block;height: 0;clear: both;font-size: 0;visibility: hidden;}
* html .clearfix {height: 1%;}/* Hides from IE-mac \*/
.clearfix {display: block;}/* Hides from IE-mac \*/
/*End General styles*/




