<div id="footer">
	<div id="footer-links">
    	<p class="copyright">&copy; 2009 Aliado. All rights reserved.</p>
        <ul>
        	<li><a href="index.html">Hjem</a></li>
            <li><a href="services.html">Tjenester</a></li>
            <li><a href="talents.html">Talenter</a></li>
            <li><a href="blogs.html">Blogg</a></li>
            <li class="no-border"><a href="mailto:post@aliado.no">Kontakt</a></li>
            <!-- <li class="subscribe-blog"><a href="#">Abonnér på vår blog</a></li> -->
        </ul>
    </div>
</div>