<!DOCTYPE html>
<html>
<head>
  <title>Aliado</title>
  <%= stylesheet_link_tag 'resets', 'defaults', 'type', 'forms', 'tables', 'lists', 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
